
<!--
//  ██████╗  ██████╗ ███╗   ███╗     ██╗ ██████╗ ██████╗
//  ██╔══██╗██╔═══██╗████╗ ████║    ███║██╔═████╗╚════██╗
//  ██║  ██║██║   ██║██╔████╔██║    ╚██║██║██╔██║ █████╔╝
//  ██║  ██║██║   ██║██║╚██╔╝██║     ██║████╔╝██║██╔═══╝
//  ██████╔╝╚██████╔╝██║ ╚═╝ ██║     ██║╚██████╔╝███████╗
//  ╚═════╝  ╚═════╝ ╚═╝     ╚═╝     ╚═╝ ╚═════╝ ╚══════╝
//
-->

<style>

/* Principles:
1. Never put a display:block thing inside a display:inline
2. Never apply float to a display:inline element.
3. Never put floated elements inside a display:inline element
4.

*/




body, html {
  margin: 0;
  padding: 0;
}

.topbar {
  border-bottom: 1px solid #ddd;
  background: green;
  padding: 10px;
  margin-bottom: 25px;
}


.container-under-the-topbar {
  background: red;
  padding: 5px;
  overflow: auto; /* force this element's automatically-computed height to expand to include descendant element which have been floated  */
}

.left-side-nav {
  background: lemonchiffon;
  margin-left: 15px;
  float: left;
}
.main-content-card-stream {
  /*background: magenta;*/
  margin-left: 15px;
  float: left;
}
.right-bonus-widget {
  background: cyan;
  margin-left: 15px;
  float: left;
}


</style>


<div>
  <div class="topbar">
    <a href="http://omfgdogs.com">Home</a>
    <a href="http://omfgdogs.com">Answer</a>
    <a href="http://omfgdogs.com">Spaces</a>
  </div>
  <div class="container-under-the-topbar">
    <div style="margin-left: auto; margin-right: auto; background: orange; overflow: auto; width: 380px;">
      <div class="left-side-nav">
        <a href="http://omfgdogs.com">Feed</a>
        <a href="http://omfgdogs.com">Techcrunch</a>
      </div>
      <div class="main-content-card-stream">
        <div class="card">Piece of content</div>
        <div class="card">Piece of content</div>
        <div class="card">Piece of content</div>
      </div>
      <div class="right-bonus-widget">
        <span>widget chunk!</span>
      </div>
    </div>
    <!--
      Another alternative method of clearing floats:

      <div class="has-to-be-last-sibling-to-all-the-floats" style="clear: both;"></div>

      You have to put it at the end, AFTER all the floated elements.
    -->
  </div>
</div>



<!--
//  ██████╗  ██████╗ ███╗   ███╗     ██╗ ██████╗  ██╗   ██████╗
//  ██╔══██╗██╔═══██╗████╗ ████║    ███║██╔═████╗███║   ██╔══██╗
//  ██║  ██║██║   ██║██╔████╔██║    ╚██║██║██╔██║╚██║   ██║  ██║
//  ██║  ██║██║   ██║██║╚██╔╝██║     ██║████╔╝██║ ██║   ██║  ██║
//  ██████╔╝╚██████╔╝██║ ╚═╝ ██║     ██║╚██████╔╝ ██║██╗██████╔╝
//  ╚═════╝  ╚═════╝ ╚═╝     ╚═╝     ╚═╝ ╚═════╝  ╚═╝╚═╝╚═════╝
//
-->
<style>
.foobar {
  display: block;
}



/* Quick review of how selectors work in raw CSS, especially important
outside of the context of LESS or a similar preprocessor (Stylus, SAAS) */
span.foobar { /* "span.foobar" is a more specific selector than just ".foobar" */
  color: green;
  font-weight: bold;
  font-style: normal;
  /* every <span> on the page that has at least the class "foobar"  */
}
.foobar {
  color: red;
  font-style: italic;
  /* every element on the page that has at least the class "foobar" */
}



/* The precedence of CSS rules (i.e. the precedence in which any given style rule within the selector gets applied)
is determined first by specificity of the selector, and second by order in which the selector is listed
on the HTML page */



.foobar .turquoise {
  /* this selector matches every .turquoise element which is inside .foobar (no matter how deep) */
  color: turquoise;
}

.foobar > .turquoise {
  /* this selector matches every .turquoise element which is a direct child of .foobar */
  color: turquoise;
  font-style: normal;
}


.foobar .turquoise.selected {
  /* this selector matches every .turquoise element which also has .selected, which is a descendant of .foobar */
  font-size: 50px;
}


.foobar .turquoise .selected { /* « if I saw that, I would assume it's a mistake */
  /* this selector matches every .selected element which is a descendant of .turquoise, which is a descendant of .foobar */
}

.foobar .turquoise:hover {
  /* pseudo-class selector */
  text-decoration: underline;
}
.foobar .turquoise:active {
  font-style: normal;
  font-weight: bold;
}
</style>



<div class="foobar">
  other loose text in foobar
  <div>
    loose text in &lt;div&gt; tag
    <span class="turquoise selected">this is a span in there (grandchild)</span>
    <div>
      double-nested div in foobar
      <span class="turquoise">this is a span way deep in there (great grandchild)</span>
    </div>
  </div>
  <span class="turquoise">this is a span inside foobar (child)</span>
</div>

